<div class="roboto">
<header>
    <div class="contenedorTituloHeader">
        <div class="contenedorPsicologia"><img src="../../assets/psicologia.png" alt="" class="psicologia"></div>
        <h1>Lic. M. Florencia Provens</h1>
    </div>

    <div class="contenedorTextosHeader">
        <div class="izquierdaHeader">
            <div class="grandeHeader">
                <h2 class="subtituloHeader">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                <p class="subtituloHeader">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat reprehenderit et consequatur, aliquid consequuntur quos, sapiente inventore autem ullam tempora, similique ipsum id. Alias sequi odio quasi placeat nesciunt impedit!. </p>
                <p class="subtituloHeader">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat reprehenderit et consequatur, aliquid consequuntur quos, sapiente inventore autem ullam tempora, similique ipsum id. Alias sequi odio quasi placeat nesciunt impedit!. </p>
            </div>    
            <div class="chicoHeader">
                <h2 class="subtituloHeader">Datos de contacto:</h2>
                <p class="subtituloHeader">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat reprehenderit et consequatur, aliquid consequuntur quos.</p>
            </div>
        </div>

        <div class="derechaHeader">
            <img src="../../assets/fondoNaranja.png" alt="" class="fotoHeader">
        </div>
    </div>
</header>
<section>
    <div class="contenedorTituloHeader">
        <div class="contenedorPsicologia"><img src="../../assets/psicologia.png" alt="" class="psicologia"></div>
        <h1>Propuestas terapéuticas</h1>
    </div>

    <div class="contenedorPropuestas">
        <div class="cardPropuestas">
            <img src="../../assets/individual.png" alt="" class="imagenesPropuestas"/>
            <p class="textoPropuestas">Psicoterapia individual</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="cardPropuestas">
            <img src="../../assets/familia.png" alt="" class="imagenesPropuestas"/>
            <p class="textoPropuestas">Psicoterapia familiar</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="cardPropuestas">
            <img src="../../assets/pareja.png" alt="" class="imagenesPropuestas"/>
            <p class="textoPropuestas">Psicoterapia para parejas</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</section>
</div>
