<!-- HEADER -->

<header>
  <img src="../../assets/headerPC.png" alt="" class="headerPc" />
  <img src="../../assets/headerTablet.png" alt="" class="headerTablet">
</header>

<!-- SECTION -->

<section>
  <div class="waveArriba"></div>

  <!-- PRESENTACION -->
  <div class="section1">
    <h2 class="tituloPresentacion">Presentación</h2>
    <div class="container flexPresentacion">
      <div class="divsPresentacion">
        <img class="fotoPresentacion" src="../../assets/fotoFlor.png" alt="" />
      </div>

      <div class="divsPresentacion contenedorTextos">
        <div class="contenidoPresentación">
          <p class="parrafoPresentacion">
            Soy Florencia, Lic. en Psicología, egresada de la Universidad
            Nacional de Córdoba.
          </p>
          <p class="parrafoPresentacion">
            Soy una apasionada por mi profesión, y eso me lleva a estar en
            constante formación y crecimiento.
          </p>
          <p class="parrafoPresentacion">
            En la actualidad me dedico fundamentalmente al ámbito clínico, realizando
            procesos individuales y familiares con jóvenes y adultos que deseen
            iniciar un camino de autoconocimiento.
          </p>
          <p class="parrafoPresentacion">
            Trabajo desde la terapía sistémica, tomando aportes de las terapias Conductuales Contextuales. 
          </p>
          <p class="parrafoPresentacion">
            A su vez, acompaño desde mi ejercicio profesional a madres/padres en
            su rol de criar, promoviendo crianzas respetuosas y concientes.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="waveAbajo"></div>

  <!-- RECURSOS -->
  <div class="contenedorPropuestas">
    <h2 class="tituloPropuesta">Propuesta terapéutica</h2>
    <div class="flexPropuesta">
      <div class="flexCol reverse">
        <div class="cardChica flexTextoPropuestas">
          <p class="textoCard cardFrase">
            "La verdadera escucha es una de las fuerzas más potentes para el cambio." Carl Rogers.
          </p>
        </div>
        <div class="cardGrande fotoPropuesta"></div>
      </div>
      <div class="flexCol">
        <div class="cardCentral cardCentralRosa">
          <h4 class="tituloCard">Psicoterapia individual</h4>
            <p class="textoCard">
              Te ofrezco un espacio seguro y de confianza de encuentro con vos mismo/a, para conocerte más en profundidad y poder comprender lo que te ocurre, para desde allí tomar decisiones en pos de tu bienestar.
            </p>
        </div>
        <div class="cardCentralAmarilla cardCentral">
          <h4 class="tituloCard">Psicoterapia de parejas</h4>
          <div>
              <p class="textoCard">
                Propongo un espacio seguro y confidencial para parejas que estén transitando alguna situación conflictiva. Se plantean en conjunto los objetivos terapéuticos para afrontar los desafíos que surgen en la relación.
              </p>
          </div>
        </div>
      </div>
      <div class="flexCol">
        <div class="cardCentralAmarilla cardCentral">
          <h4 class="tituloCard">Psicoterapia familiar</h4>
            <p class="textoCard">
              Facilito un espacio destinado a las familias, en el que sus miembros podrán escucharse y conocer los modos de relacionarse, buscando generar cambios para una mejor calidad de vida.
            </p>
        </div>
        <div class="cardCentral cardCentralRosa">
          <h4 class="tituloCard">Orientación vocacional</h4>
            <p class="textoCard">
              Brindo un espacio a jóvenes y adolescentes para reflexionar acerca de sus intereses,
              habilidades y deseos para tomar una decisión conciente sobre su
              futuro ocupacional/laboral.
            </p>
        </div>
      </div>
      <div class="flexCol">
        <div class="cardCentral cardCentralRosa">
          <h4 class="tituloCard">Grupos de crianza</h4>
            <p class="textoCard">
              La posibilidad de criar en tribu permite a las personas que
              participan en los grupos sentirse acompañadas, sostenidas,
              escuchadas sin ser juzgadas, compartiendo momentos con otras mamás
              que se encuentran en la misma sintonía.
            </p>
        </div>
        <div class="cardCentral cardCentralAmarilla cardCentral">
          <h4 class="tituloCard">Talleres de Mindfulness</h4>
            <p class="textoCard">
              Un espacio para entrenar la habilidad de prestar atención consciente al momento presente. Puede ayudar a reducir el estrés y la ansiedad y a tener una mejor calidad de vida.
            </p>
        </div>
      </div>
    </div>
  </div>

  <!-- RECURSOS -->

  <div class="contenedorRecursosGeneral">
    <h2 class="tituloPropuesta">Recursos gratuitos</h2>
    <div class="contenedorRecursos criazaRespetuosa">
      <h3 class="tituloCardRecurso">Podcast Crianza Respetuosa</h3>
      <p class="parrafoRecursos">
        La crianza es un pilar fundamental en nuestra constitución. Por ello considero necesario conversar sobre ésto, para construir herramientas que nos permitan relacionarnos con nuestros niños desde el amor, el afecto y el respeto. 
      </p>
      <a href="https://open.spotify.com/show/1vehiAojg4Xt7gchYUtDXU" target="_blank">
        <img class="botonSpotify" src="../../assets/spotify.png" alt="">
      </a>
    </div>
    <div class="contenedorRecursos mindfulness">
      <h3 class="tituloCardRecurso">Meditaciones</h3>
      <p class="parrafoRecursos">Con el entrenamiento regular en atención plena, lograrás estar más presente en el aquí y el ahora, lo que tendrá un impacto positivo en tu salud de manera integral.</p>
      <div class="botonesMeditaciones">
        <a href="" target="_blank"><img class="numerosRecursos" src="../../assets/1.png" alt=""></a>
        <a href="" target="_blank"><img class="numerosRecursos" src="../../assets/2.png" alt=""></a>
        <a href="" target="_blank"><img class="numerosRecursos" src="../../assets/3.png" alt=""></a>
        <a href="" target="_blank"><img class="numerosRecursos" src="../../assets/4.png" alt=""></a>
      </div>

    </div>
    <div class="contenedorRecursos recursosGenerales">
      <h3 class="tituloCardRecurso">Recursos generales</h3>
      <p class="parrafoRecursos">Te ofrezco herramientas gratuitas para conocerte aún más y trabajar en distintos aspectos de tu día a día, con el fin de acercarte a una mejor calidad de vida. </p>
      <img src="../../assets/pronto.png" alt="" class="margenPronto">
    </div>
  </div>
</section>

  <!-- FOOTER -->
  <footer>
      <div class="contacto">
        <div >
          <a class="redes" href="mailto:flor.provens@gmail.com" target="_blank">
          <img src="../../assets/mail.png" alt="" class="logoFooter">
          <p class="textoFooter">flor.provens@gmail.com</p>
        </a>
        </div>
        <div >
          <a class="redes" href="https://api.whatsapp.com/send/?phone=543585060083&text&app_absent=0" target="_blank">
          <img src="../../assets/celu.png" alt="" class="logoFooter">
          <p class="textoFooter">3585060083</p>
        </a>
        </div>
        <div >
        <a class="redes" href="https://www.instagram.com/lic.florenciaprovens/?hl=es" target="_blank">
          <img src="../../assets/insta.png" alt="" class="logoFooter">
          <p class="textoFooter">@Lic.FlorenciaProvens</p>
        </a>
        </div>
      </div>
  </footer>
