:root {
  --amarillo: #ffffd0;
  --claro: #f3ccff;
  --medio: #d09cfa;
  --oscuro: #a555ec;
  --gris:   #707070;
  --amarillo-oscuro: #ffd4b2;
  --amarillo-claro: #fff6bd;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}

.headerPc {
  width: 80%;
  margin: 0 auto;
}

.headerTablet {
  display: none;
}

@media (max-width: 1000px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
  }

  .headerPc {
    width: 100%;
    margin: 0 auto;
  }

  .headerTablet {
    display: none;
  }
}

@media (max-width: 750px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .headerPc {
    display: none;
  }

  .headerTablet {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

/* SECTION */

.waveArriba {
  background-image: url(../../assets/waveArriba.png);
  height: 150px;
}

section {
  width: 100%;
}

.section1 {
  background-color: #ffd4b2;
  width: 100%;
  margin-top: 0;
  /* padding-bottom: 100px; */
}

/* PRESENTACION */

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: -20px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexPresentacion {
  display: flex;
  justify-content: center;
}

.tituloPresentacion {
color: #707070;
  font-size: 3rem;
  letter-spacing: 0.5px;
  font-weight: 900;
  margin: 0;
  padding-bottom: 100px;
  text-align: center;
}

.parrafoPresentacion {
  line-height: 160%;
  text-align: center;
}

.contenidoPresentación {
    color: #707070;
  font-size: medium;
  letter-spacing: 0.8px;
  background: #fff6bd;
  padding: 5px 20px;
  border-radius: 20px;
  margin-top: 30px;
  width: 500px;
}

.divsPresentacion {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TODO RESPONSIVE HASTA 1350PIX */

.fotoPresentacion {
  border-radius: 25px;
  width: 500px;
  border: 2px solid white;
  opacity: 0.8;
}

.waveAbajo {
  background-image: url(../../assets/waveAbajo.png);
  height: 150px;
}

@media (max-width: 1170px) {
  .flexPresentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fotoPresentacion {
    width: 350px;
  }

  .contenidoPresentación {
    color: #707070;
    font-size: medium;
    letter-spacing: 0.8px;
    background: #fff6bd;
    padding: 5px 20px;
    border-radius: 20px;
    margin-top: 10px;
    width: 60vw;
  }
}

@media (max-width: 500px) {
  .flexPresentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fotoPresentacion {
    width: 300px;
  }

  .contenidoPresentación {
    color: #707070;
    font-size: medium;
    letter-spacing: 0.8px;
    background: #fff6bd;
    padding: 5px 20px;
    border-radius: 20px;
    margin-top: 0px;
    width: 80vw;
  }

  .waveArriba {
    margin-top: -50px;
  }
}

/* PROPUESTA */

.contenedorPropuestas {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 130px;
  margin-top: 130px;
}

.tituloPropuesta {
    color: #707070;
  font-size: 3rem;
  letter-spacing: 0.5px;
  font-weight: 900;
  text-align: center;
}

.flexPropuesta {
  display: flex;
  justify-content: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.cardChica {
  height: 200px;
  width: 280px;
  background-color: #e8e8e8;
  margin: 12px;
  border-radius: 18px;
  -webkit-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
  -moz-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
  box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
}

.cardGrande {
  height: 400px;
  width: 280px;
  background-color: #ffd4b2;
  margin: 12px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  -webkit-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
  -moz-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
  box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
}

.cardCentral {
  height: 300px;
  width: 280px;
  margin: 12px;
  border-radius: 18px;
  -webkit-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
  -moz-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
  box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
}

.cardCentralAmarilla {
  background-color: #fff6bd;
}

.cardCentralRosa {
  background-color: #ffd4b2;
}

.crianza {
    color: #707070;
  font-size: xx-large;
  margin-left: 10px;
  font-weight: 400;
}

.spotify {
    color: #707070;
  font-size: xx-large;
  margin-left: 10px;
  font-weight: 700;
}

.botonFlecha {
  background-color: #a555ec;
}

.flechaSpotify {
  width: 70px;
  margin-left: 30px;
  margin-bottom: 5px;
}

:hover.flechaSpotify {
  opacity: 0.5;
}

.flexBoton {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.tituloCard {
  color: #707070;
  font-size: x-large;
  margin: 10px;
  margin-top: 30px;
  font-weight: 400;
  font-weight: 700;
  text-align: center;
}

.fotoPropuesta {
  background-image: url("../../assets/consul.jpeg");
  background-size: cover;
  opacity: 0.8;
}

.textoPropuestas {
  margin: 20px;
  color: #707070;
  font-size: large;
  letter-spacing: 0.5px;
}

.flexTextoPropuestas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textoCard {
  margin: 15px;
  letter-spacing: 0.5px;
  font-size: large;
  color: #707070;
  text-align: center;
}

@media (max-width: 1300px) {
  .flexPropuesta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
}

@media (max-width: 660px) {
    .contenedorPropuestas {
        width: 100%;
    }

  .cardChica {
    width: 200px;
    background-color: #e8e8e8;
    margin: 12px;
    border-radius: 18px;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
    -moz-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
    box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
  }

  .cardGrande {
    width: 200px;
    background-color: #ffd4b2;
    margin: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
    -moz-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
    box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
  }

  .cardCentral {
    width: 200px;
    margin: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
    -moz-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
    box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
  }

  .tituloCard {
    color: #707070;
    font-size: large;
    margin: 5px;
    margin-top: 5px;
    font-weight: 700;
    text-align: center;
  }

  .textoCard {
    margin: 5px;
    letter-spacing: 0.2px;
    font-size: medium;
    color: #707070;
    text-align: center;
  }
}

@media (max-width: 500px) {
    .flexCol{
        display: flex;
        flex-direction: column;
    }

    .cardChica {
        height: 200px;
        width: 300px;
        background-color: #e8e8e8;
        margin: 10px;
        border-radius: 18px;
        -webkit-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
        -moz-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
        box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
      }
    
      .cardGrande {
        width: 300px;
        background-color: #ffd4b2;
        margin: 10px;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
        -moz-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
        box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
      }
    
      .cardCentral {
        height: 200px;
        width: 300px;        
        margin: 10px;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
        -moz-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
        box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
      }
    
      .reverse{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

      .tituloCard {
        color: #707070;
        font-size: medium;
        margin: 5px;
        margin-top: 5px;
        font-weight: 700;
        text-align: center;
      }

      .textoCard {
        margin: 5px;
        letter-spacing: 0.1px;
        font-size: medium;
        color: #707070;
        text-align: center;
      }
          
      .cardFrase{
        margin: 5px;
        letter-spacing: 0.1px;
        font-size: medium;
        color: #707070;
        text-align: center;
      }

      .flexTextoPropuestas{
        width: 300px;
        height: 150px;
      }
}

/* RECURSOS */
.contenedorRecursosGeneral{
    background: #ffd4b2;
    width: 100vw;
    margin: 100px 0;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorRecursos{
    width: 300px;
    height: 500px;
    margin: 0 10px;
    background: rgb(251, 251, 251);
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #9f9e9e;
    border-radius: 18px;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
    -moz-box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
    box-shadow: 4px 4px 6px 0px rgba(128, 126, 128, 1);
}

.botonSpotify{
    margin-top: 30px;
}

.botonesMeditaciones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tituloCardRecurso{
    font-size: x-large;
    letter-spacing: 0.5px;
    color: #707070;
    text-align: center;
}

.parrafoRecursos{
    text-align: center;
    margin: 0 15px;
    color: #707070;
    letter-spacing: 0.5px;
    font-size: large;
}

.numerosRecursos{
    margin: 20px;
}


a:hover{
    opacity: 0.7;
}

.margenPronto{
    margin-top: 100px;
}


/* FOOTER */
footer{
    margin-top: 150px;
    width: 100%;
    background: #fff6bd;
    border-top: solid 2px #ffd4b2;
    height: 80px;
}

.contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


.logoFooter{
    width: 40px;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoFooter{
    margin-left: 20px;
    font-size: large;
    color: #707070;
}

:hover.redes{
    opacity: 0.8;
}

a{
    text-decoration: none;
}

@media (max-width: 900px) {
    footer{
        margin-top: 150px;
        width: 100%;
        background: #fff6bd;
        border-top: solid 2px #ffd4b2;
    }

    .logoFooter{
        width: 30px;
    }

    .textoFooter{
        margin-left: 10px;
        font-size: medium;
        color: #707070;
    }
}

@media (max-width: 650px) {
    .contacto{
        display: flex;
        flex-direction: column;
    }

    footer{
        margin-top: 150px;
        width: 100%;
        background: #fff6bd;
        border-top: solid 2px #ffd4b2;
        height: 200px;
    }
}