:root {
    --amarillo: #FFFFD0;
    --claro: #F3CCFF;
    --medio: #D09CFA;
    --oscuro: #A555EC;
    --gris: rgb(76, 74, 74);
  }

header{
    width: 80%;
    margin: 0 auto;
}

/* TODO ESTO TIENE QUE SER CON RESPONSIVIDAD DESDE LOS 1500 PX */
.header{
    width: 100%;
    margin-top: -50px;
}

.wave{
 background-image: url(../../assets/wave.svg);
 width: 100vw;
 height: 150px;
 background-size: cover;
}

.section1{
    background-color: #A555EC;
    width: 100vw;
    margin-top: 0;
    /* padding-bottom: 100px; */
}


/* PRESENTACION */


.container{
    width: 90%;
    margin: 0 auto;
    margin-top: -20px;   
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexPresentacion{
    display: flex;
    justify-content: center;

}

.tituloPresentacion{
    color: white;
    font-size: 3rem;
    letter-spacing: 0.5px;
    font-weight: 900;
    margin: 0;
}

.subtituloPresentacion{
    color: white;
    font-size: 2rem;
    letter-spacing: 0.5px;
}

.contenidoPresentación{
    color: rgb(76, 74, 74);
    font-size: medium;
    letter-spacing: 0.8px;
    background: #FFFFD0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
}

/* TODO RESPONSIVE HASTA 1350PIX */
.divsPresentacion{
    width: 30vw;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TODO RESPONSIVE HASTA 1350PIX */
.contenedorTextos{
    padding-left: 100px;
    padding-right: 100px;
}

.fotoPresentacion{
    border-radius: 25px;
    width: 500px;
    border: 2px solid white;
}

.waveAbajo{
    background-image: url(../../assets/waveAbajo.svg);
    width: 100vw;
    height: 400px;
    background-size: cover;
    margin-top: -50px;
}


/* RECURSOS */


.contenedorRecursos{
    width: 95%;
    margin: 0 auto;
    margin-top: -100px;
}

.tituloRecursos{
    color: rgb(76, 74, 74);
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5px;
    font-weight: 900;
}

.flexRecursos{
    display: flex;
    justify-content: center;
}

.flexCol{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.cardChica{
    height: 200px;
    width: 280px;
    background-color: #FFFFD0;
    margin: 12px;
    border-radius: 18px;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(128,126,128,1);
    -moz-box-shadow: 4px 4px 6px 0px rgba(128,126,128,1);
    box-shadow: 4px 4px 6px 0px rgba(128,126,128,1);
}

.cardGrande{
    height: 400px;
    width: 280px;
    background-color: #A555EC;
    margin: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(128,126,128,1);
    -moz-box-shadow: 4px 4px 6px 0px rgba(128,126,128,1);
    box-shadow: 4px 4px 6px 0px rgba(128,126,128,1);
}

.cardCentral{
    height: 300px;
    width: 280px;
    margin: 12px;
    border-radius: 18px;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(128,126,128,1);
    -moz-box-shadow: 4px 4px 6px 0px rgba(128,126,128,1);
    box-shadow: 4px 4px 6px 0px rgba(128,126,128,1);
}

.cardCentralLila{
    background-color: #F3CCFF;
}

.cardCentralGris{
    background-color: gainsboro;
}

.crianza{
    color: white;
    font-size: xx-large;
    margin-left: 10px;
    font-weight: 400;

}

.spotify{
    color: white;
    font-size: xx-large;
    margin-left: 10px;
    font-weight: 700;
}

.botonFlecha{
    background-color: #A555EC;
}

.flechaSpotify{
    width: 70px;
    margin-left: 10px;
}

:hover.flechaSpotify{
    opacity: 0.5;
}

.flexBoton{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.mindfulness{
    color: rgb(76, 74, 74);
    font-size: xx-large;
    margin-left: 10px;
    font-weight: 400;
}

.fotoRecursos{
    background-image: url('../../assets/fotoRecursos.webp');
    background-size: cover;
    opacity: 0.8;
}

.textoRecursos{
    margin: 20px;
    color: rgb(76, 74, 74);
    font-size: large;
    letter-spacing: 0.5px;
}

.flexTextoRecursos{
    display: flex;
    align-items: center;    
}

.textoMindfulnes{
    margin-left: 10px;
    letter-spacing: 0.5px;
    font-size: large;
    color: rgb(76, 74, 74);
}


/* PROPUESTAS */


.propuestas{
    margin-top: 180px;
    background: #A555EC;
    width: 100vw;

}

.tituloPropuestas{
    color: white;
    font-size: 3rem;
    letter-spacing: 0.5px;
    font-weight: 900;
    margin: 0;
    text-align: center;
    padding-top: 50px;
}

.contenedorPropuestas{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 150px;
}

.contenedorCards{
    width: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.enlacePropuestas{
    text-decoration: none;
    margin: 20px 30px;
    
}

:hover.enlacePropuestas{
    opacity: 0.9;
}

.cardPropuesta{
    background-color: #D09CFA;
    border-radius: 20px;
    padding: 12px;
    background-color: #FFFFD0;
    max-width: 500px;
}

.tituloCardPropuesta{
    color: rgb(76, 74, 74);
    font-size: large;
}

.textoCardPropuesta{
    color: rgb(76, 74, 74);
    font-size: medium;
    letter-spacing: 0.5px;
}

.fotoConsultorio{
    border-radius: 20px;
    max-width: 700px;
}

.contenedorImagenPropuestas{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FOOTER */


footer{
    margin-top: 150px;
    width: 100vw;
    height: 300px;
}