<!-- HEADER -->

<header>
  <img src="../../assets/headerMinimalista.webp" alt="" class="header" />
</header>

<!-- SECTION -->

<section>
  <div class="wave"></div>

  <!-- PRESENTACION -->
  <div class="section1">
    <div class="container flexPresentacion">
      <div class="divsPresentacion">
        <img class="fotoPresentacion" src="../../assets/fotoFlor.webp" alt="" />
      </div>

      <div class="divsPresentacion contenedorTextos">
        <h2 class="tituloPresentacion">Título presentación</h2>
        <h3 class="subtituloPresentacion">Subtítulo presentación</h3>
        <div class="contenidoPresentación">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English. Many desktop publishing
            packages and web page editors now use Lorem Ipsum as their default
            model text, and a search for 'lorem ipsum' will uncover many web
            sites still in their infancy. Various versions have evolved over the
            years, sometimes by accident, sometimes on purpose (injected humour
            and the like).
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="waveAbajo"></div>

  <!-- RECURSOS -->
  <div class="contenedorRecursos">
    <h2 class="tituloRecursos">Recursos</h2>
    <div class="flexRecursos">
      <div class="flexCol">
        <div class="cardChica flexTextoRecursos">
          <p class="textoRecursos">
            "La mejor manera de capturar momentos es prestar atención. Esta es
            la forma en que cultivamos la atención plena."
          </p>
        </div>
        <div class="cardGrande">
          <h4 class="crianza">Crianza respetuosa</h4>
          <p class="spotify">SPOTIFY</p>
          <a
            href="https://open.spotify.com/show/1vehiAojg4Xt7gchYUtDXU"
            class="flexBoton"
            target="_blank"
            ><img src="../../assets/flecha.png" alt="" class="flechaSpotify" />
            <p class="visitarSpotify">Visitar</p></a
          >
        </div>
      </div>
      <div class="flexCol">
        <div class="cardCentral cardCentralGris">
          <h4 class="mindfulness">Mindfulness</h4>
          <p class="textoMindfulnes">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
            temporibus velit doloremque itaque.
          </p>
          <a
            href="https://open.spotify.com/show/1vehiAojg4Xt7gchYUtDXU"
            class="flexBoton"
            target="_blank"
            ><img src="../../assets/flecha.png" alt="" class="flechaSpotify" />
            <p class="visitarSpotify">Visitar</p></a
          >
        </div>
        <div class="cardCentralLila cardCentral">
          <h4 class="mindfulness">Mindfulness</h4>
          <p class="textoMindfulnes">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
            temporibus velit doloremque itaque.
          </p>
          <a
            href="https://open.spotify.com/show/1vehiAojg4Xt7gchYUtDXU"
            class="flexBoton"
            target="_blank"
            ><img src="../../assets/flecha.png" alt="" class="flechaSpotify" />
            <p class="visitarSpotify">Visitar</p></a
          >
        </div>
      </div>
      <div class="flexCol">
        <div class="cardCentralLila cardCentral">
          <h4 class="mindfulness">Mindfulness</h4>
          <p class="textoMindfulnes">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
            temporibus velit doloremque itaque.
          </p>
          <a
            href="https://open.spotify.com/show/1vehiAojg4Xt7gchYUtDXU"
            class="flexBoton"
            target="_blank"
            ><img src="../../assets/flecha.png" alt="" class="flechaSpotify" />
            <p class="visitarSpotify">Visitar</p></a
          >
        </div>
        <div class="cardCentral cardCentralGris">
          <h4 class="mindfulness">Mindfulness</h4>
          <p class="textoMindfulnes">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
            temporibus velit doloremque itaque.
          </p>
          <a
            href="https://open.spotify.com/show/1vehiAojg4Xt7gchYUtDXU"
            class="flexBoton"
            target="_blank"
            ><img src="../../assets/flecha.png" alt="" class="flechaSpotify" />
            <p class="visitarSpotify">Visitar</p></a
          >
        </div>
      </div>
      <div class="flexCol">
        <div class="cardChica flexTextoRecursos">
          <p class="textoRecursos">
            "La meditación es ser consciente de lo que está pasando ahora mismo:
            en tu cuerpo, en tus sentimientos, en tu mente y en el mundo."
          </p>
        </div>
        <div class="cardGrande fotoRecursos"></div>
      </div>
    </div>
  </div>

  <!-- PROPUESTAS -->
  <div class="propuestas">
    <h2 class="tituloPropuestas">Propuesta terapéutica</h2>

    <div class="contenedorPropuestas">

      <div class="contenedorImagenPropuestas"><img src="../../assets/fotoConsultorio.webp" alt="" class="fotoConsultorio"/></div>

      <div class="contenedorCards">

        <a href="" class="enlacePropuestas">
          <div class="cardPropuesta">
            <h4 class="tituloCardPropuesta">
              Sesiones de psicoterapia individual
            </h4>
            <p class="textoCardPropuesta">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
              nihil, eaque eveniet illo velit ipsum, assumenda quasi expedita
              possimus.
            </p>
          </div>
        </a>

        <a href="" class="enlacePropuestas">
          <div class="cardPropuesta">
            <h4 class="tituloCardPropuesta">
              Tratamiento de las adicciones
            </h4>
            <p class="textoCardPropuesta">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
              nihil, eaque eveniet illo velit ipsum, assumenda quasi expedita
              possimus.
            </p>
          </div>
        </a>

        <a href="" class="enlacePropuestas">
          <div class="cardPropuesta">
            <h4 class="tituloCardPropuesta">
              Sesiones de psicoterapia para parejas
            </h4>
            <p class="textoCardPropuesta">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
              nihil, eaque eveniet illo velit ipsum, assumenda quasi expedita
              possimus.
            </p>
          </div>
        </a>

        <a href="" class="enlacePropuestas">
          <div class="cardPropuesta">
            <h4 class="tituloCardPropuesta">Grupos para madres</h4>
            <p class="textoCardPropuesta">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
              nihil, eaque eveniet illo velit ipsum, assumenda quasi expedita
              possimus.
            </p>
          </div>
        </a>

      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <footer>
    <div>

    </div>
  </footer>
</section>
