<!-- HEADER -->

<header>
  <img src="../../assets/headerMinimalista.webp" alt="" class="header" />
</header>

<!-- SECTION -->

<section>
  <div class="waveArriba"></div>

  <!-- PRESENTACION -->
  <div class="section1">
    <div class="container flexPresentacion">
      <div class="divsPresentacion">
        <img class="fotoPresentacion" src="../../assets/fotoFlor.png" alt="" />
      </div>

      <div class="divsPresentacion contenedorTextos">
        <h2 class="tituloPresentacion">Presentación</h2>
        <div class="contenidoPresentación">
          <p class="parrafoPresentacion">
            Soy Florencia, Lic. en Psicología, egresada de la Universidad
            Nacional de Córdoba.
          </p>
          <p class="parrafoPresentacion">
            Soy una apasionada por mi profesión, y eso me lleva a estar en
            constante formación y crecimiento.
          </p>
          <p class="parrafoPresentacion">
            Actualmente me dedico fundamentalmente al ámbito clínico, realizando
            procesos individuales y familiares con jóvenes y adultos que deseen
            iniciar un camino de autoconocimiento.
          </p>
          <p class="parrafoPresentacion">
            A su vez, acompaño desde mi ejercicio profesional a madres/padres en
            su rol de criar, promoviendo crianzas respetuosas y concientes.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="waveAbajo"></div>

  <!-- RECURSOS -->
  <div class="contenedorRecursos">
    <h2 class="tituloRecursos">Propuesta terapéutica</h2>
    <div class="flexRecursos">
      <div class="flexCol">
        <div class="cardChica flexTextoRecursos">
          <p class="textoRecursos">
            "La mejor manera de capturar momentos es prestar atención. Esta es
            la forma en que cultivamos la atención plena."
          </p>
        </div>
        <div class="cardGrande fotoRecursos"></div>
      </div>
      <div class="flexCol">
        <div class="cardCentral cardCentralRosa">
          <h4 class="mindfulness">Psicoterapia individual</h4>
            <p class="textoMindfulnes">
              Te ofrezco un espacio seguro y de confianza de encuentro con vos mismo/a, para conocerte más en profundidad y poder comprender lo que te ocurre, para desde allí tomar decisiones en pos de tu bienestar.
            </p>
        </div>
        <div class="cardCentralAmarilla cardCentral">
          <h4 class="mindfulness">Psicoterapiade parejas</h4>
          <div>
              <p class="textoMindfulnes">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate temporibus velit doloremque itaque.
              </p>
          </div>
        </div>
      </div>
      <div class="flexCol">
        <div class="cardCentralAmarilla cardCentral">
          <h4 class="mindfulness">Psicoterapia familiar</h4>
            <p class="textoMindfulnes">
              Ofrezco un espacio destinado a las familias, en el que sus miembros podrán escucharse y conocer los modos de relacionarse, buscando generar cambios para una mejor calidad de vida
            </p>
        </div>
        <div class="cardCentral cardCentralRosa">
          <h4 class="mindfulness">Orientación vocacional</h4>
            <p class="textoMindfulnes">
              Te ofrezco un espacio para reflexionar acerca de tus intereses,
              habilidades y deseos para tomar una decisión conciente sobre tu
              futuro ocupacional/laboral.
            </p>
        </div>
      </div>
      <div class="flexCol">
        <div class="cardCentral cardCentralRosa">
          <h4 class="mindfulness">Grupos de crianza</h4>
            <p class="textoMindfulnes">
              La posibilidad de criar en tribu permite a las personas que
              participan en los grupos sentirse acompañadas, sostenidas,
              escuchadas sin ser juzgadas, compartiendo momentos con otras mamás
              que se encuentran en la misma sintonía.
            </p>
        </div>
        <div class="cardCentral cardCentralAmarilla cardCentral">
          <h4 class="mindfulness">Talleres de mindfulness</h4>
            <p class="textoMindfulnes">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
              temporibus velit doloremque itaque.
            </p>
        </div>
      </div>
    </div>
  </div>

  <!-- PROPUESTAS -->
  <div class="waveArriba"></div>
  <div class="propuestas">
    <h2 class="tituloPropuestas">Propuesta terapéutica</h2>

    <div class="contenedorPropuestas">
      <div class="contenedorImagenPropuestas">
        <img
          src="../../assets/fotoConsultorio.webp"
          alt=""
          class="fotoConsultorio"
        />
      </div>

      <div class="contenedorCards">
        <a href="" class="enlacePropuestas">
          <div class="cardPropuesta">
            <h4 class="tituloCardPropuesta">Psicoterapia individual</h4>
            <p class="textoCardPropuesta">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
              nihil, eaque eveniet illo velit ipsum, assumenda quasi expedita
              possimus.
            </p>
          </div>
        </a>

        <a href="" class="enlacePropuestas">
          <div class="cardPropuesta">
            <h4 class="tituloCardPropuesta">Psicoterapia familiar</h4>
            <p class="textoCardPropuesta">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
              nihil, eaque eveniet illo velit ipsum, assumenda quasi expedita
              possimus.
            </p>
          </div>
        </a>

        <a href="" class="enlacePropuestas">
          <div class="cardPropuesta">
            <h4 class="tituloCardPropuesta">Psicoterapia de parejas</h4>
            <p class="textoCardPropuesta">
              En las sesiones de terapia de pareja, buscamos comprender qué está ocurriendo en el interior de la relación de pareja y poder encontrar la manera más saludable de afrontar las situaciones que acontezcan
            </p>
          </div>
        </a>

        <a href="" class="enlacePropuestas">
          <div class="cardPropuesta">
            <h4 class="tituloCardPropuesta">Orientación vocacional</h4>
            <p class="textoCardPropuesta">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
              nihil, eaque eveniet illo velit ipsum, assumenda quasi expedita
              possimus.
            </p>
          </div>
        </a>

        <a href="" class="enlacePropuestas">
          <div class="cardPropuesta">
            <h4 class="tituloCardPropuesta">Grupos de crianza</h4>
            <p class="textoCardPropuesta">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
              nihil, eaque eveniet illo velit ipsum, assumenda quasi expedita
              possimus.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="waveAbajo"></div>

  <!-- FOOTER -->
  <footer>
    <div></div>
  </footer>
</section>
